<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<table>
  <thead>
    <tr>
      <th>Page view</th>
      <th>Date</th>
      <th colspan="3">Time</th>
    </tr>
  </thead>

  <tbody>
    <% @page_views_array.each do |page_views| %>
      <tr>
        <td><%= page_views.page %></td>
        <td><%= page_views.date %></td>
        <td><%= page_views.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
